##Practica 4

Sanchez Abarca Bryan Jair

In [0]:
# Cargar la tabla en un DataFrame de PySpark
df = spark.table("default.mall_customers_4_csv")

# Crear una vista temporal llamada "mall_customers"
df.createOrReplaceTempView("mall_customers")

# Verificar que la vista temporal se haya creado correctamente
spark.sql("SELECT * FROM mall_customers LIMIT 10").show()

+----------+------+---+------------------+----------------------+
|CustomerID| Genre|Age|Annual Income (k$)|Spending Score (1-100)|
+----------+------+---+------------------+----------------------+
|      0001|  Male| 19|                15|                    39|
|      0002|  Male| 21|                15|                    81|
|      0003|Female| 20|                16|                     6|
|      0004|Female| 23|                16|                    77|
|      0005|Female| 31|                17|                    40|
|      0006|Female| 22|                17|                    76|
|      0007|Female| 35|                18|                     6|
|      0008|Female| 23|                18|                    94|
|      0009|  Male| 64|                19|                     3|
|      0010|Female| 30|                19|                    72|
+----------+------+---+------------------+----------------------+

##Sapark.sql

In [0]:
# Consulta 1: Obtener la cantidad de clientes
spark.sql("SELECT COUNT(*) FROM mall_customers_4_csv").show()

+--------+
|count(1)|
+--------+
|     200|
+--------+

In [0]:

# Consulta 2: Ver los primeros 10 clientes
spark.sql("SELECT * FROM mall_customers_4_csv LIMIT 10").show()

+----------+------+---+------------------+----------------------+
|CustomerID| Genre|Age|Annual Income (k$)|Spending Score (1-100)|
+----------+------+---+------------------+----------------------+
|      0001|  Male| 19|                15|                    39|
|      0002|  Male| 21|                15|                    81|
|      0003|Female| 20|                16|                     6|
|      0004|Female| 23|                16|                    77|
|      0005|Female| 31|                17|                    40|
|      0006|Female| 22|                17|                    76|
|      0007|Female| 35|                18|                     6|
|      0008|Female| 23|                18|                    94|
|      0009|  Male| 64|                19|                     3|
|      0010|Female| 30|                19|                    72|
+----------+------+---+------------------+----------------------+

In [0]:
# Consulta 3: Agrupar clientes por género
spark.sql("SELECT Genre, COUNT(*) as Total FROM mall_customers_4_csv GROUP BY Genre").show()

+------+-----+
| Genre|Total|
+------+-----+
|Female|  112|
|  Male|   88|
+------+-----+

In [0]:

# Consulta 4: Obtener el ingreso anual promedio por género
spark.sql("SELECT Genre, AVG(`Annual Income (k$)`) as Avg_Income FROM mall_customers GROUP BY Genre").show()

+------+-----------------+
| Genre|       Avg_Income|
+------+-----------------+
|Female|            59.25|
|  Male|62.22727272727273|
+------+-----------------+

##SQL NoteBook

In [0]:
%sql
-- Consulta 1: Obtener la cantidad de clientes
SELECT COUNT(*) FROM default.mall_customers_4_csv;

count(1)
200

In [0]:
%sql
-- Consulta 2: Ver los primeros 10 clientes
SELECT * FROM default.mall_customers_4_csv LIMIT 10;

CustomerID,Genre,Age,Annual Income (k$),Spending Score (1-100)
0001,Male,19,15,39
0002,Male,21,15,81
0003,Female,20,16,6
0004,Female,23,16,77
0005,Female,31,17,40
0006,Female,22,17,76
0007,Female,35,18,6
0008,Female,23,18,94
0009,Male,64,19,3
0010,Female,30,19,72

In [0]:
%sql

-- Consulta 3: Agrupar clientes por género
SELECT Genre, COUNT(*) as Total FROM default.mall_customers_4_csv GROUP BY Genre;

Genre,Total
Female,112
Male,88

In [0]:
%sql
-- Consulta 4: Obtener el ingreso anual promedio por género

SELECT Genre, AVG(`Annual Income (k$)`) as Avg_Income FROM mall_customers_4_csv GROUP BY Genre;

Genre,Avg_Income
Female,59.25
Male,62.22727272727273

## Crear una tabla temporal con SQL

In [0]:
# Crear una tabla temporal a partir de la vista temporal "mall_customers"
spark.sql("""
CREATE OR REPLACE TEMPORARY VIEW temp_mall_customers AS
SELECT * FROM mall_customers_4_csv
""")

# Verificar que la nueva tabla temporal se haya creado correctamente
spark.sql("SELECT * FROM temp_mall_customers LIMIT 10").show()

+----------+------+---+------------------+----------------------+
|CustomerID| Genre|Age|Annual Income (k$)|Spending Score (1-100)|
+----------+------+---+------------------+----------------------+
|      0001|  Male| 19|                15|                    39|
|      0002|  Male| 21|                15|                    81|
|      0003|Female| 20|                16|                     6|
|      0004|Female| 23|                16|                    77|
|      0005|Female| 31|                17|                    40|
|      0006|Female| 22|                17|                    76|
|      0007|Female| 35|                18|                     6|
|      0008|Female| 23|                18|                    94|
|      0009|  Male| 64|                19|                     3|
|      0010|Female| 30|                19|                    72|
+----------+------+---+------------------+----------------------+

##almacenar los resultados de la consulta en archivos parquet

In [0]:
# Guardar los resultados en formato Parquet
result_df = spark.sql("SELECT * FROM mall_customers_4_csv")
result_df.write.parquet("/FileStore/tables/mall_customers_parquet_1")